body{
    font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
}
.section-div{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.half-width{
    width: 50%;
}
.image-side img{
    width: 60%;
}
.writing-side{
    width: 70%;
    padding-top: 70px;
    margin-right: 100px;
}
#title-border{
    border-left: 3px solid black;
    line-height: 100%;
    border-radius: 2px;
}
.stay-tittle div{
    padding-left: 5px;
}
#brown-mission{
    color: brown;
}
.details-link{
    margin-top: 30px;
    margin-bottom: 25px;
}
.details-button{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: green;
    color: whitesmoke;
}
.image-side{
    margin-left: 100px;
}

/* End Head */
.my-mission-div{
}
#my-mission{
    text-align: center;
}
#colorful-22{
    color: tomato;
}
.mission-vission{
    display: flex;
    margin: 50px;
}
.mission-box{
    width: 300px;
    height: 300px;
    background-color: rgb(176, 224, 230);
    border-radius: 15px;
    margin-left: 225px;
    margin-right: 20px;
    padding-top: 20px;
    padding-left: 15px;
}
.mission-illu img{
    width: 40%;
}
/* Mission Box */
.vission-box{
    width: 300px;
    height: 300px;
    background-color: rgb(233,150,122);
    border-radius: 15px;
    margin-right: 20px;
    padding-top: 20px;
    padding-left: 15px;
}
.vission-illu img{
    width: 40%;
}
/* vission Box */
.goal-box{
    width: 300px;
    height: 300px;
    background-color: rgb(238,232,170);
    border-radius: 15px;
    margin-right: ;
    padding-top: 20px;
    padding-left: 15px;
}
.goal-illu img{
    width: 40%;
}

/* Emd My Mission */

.development-img{
    width: 100%;
    margin-top: 50px;
}
.development-bgi{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
}

/* End Development Section */

.community-bgi{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: 60% 90%;
}
.community-img{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
}

/* End Community Section */